@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    bool authenticated_user = User.Identity.IsAuthenticated;
    string username = authenticated_user ? User.Identity.Name : "";
}
<div class="text-center">
    <h1 class="display-4">Welcome @username</h1>
    <p>Browse through our book catalog.</p>
</div>

@if (Model.CatalogViewModel.CatalogItems.Any())
{
    <div class="row">
        @foreach (var item in Model.CatalogViewModel.CatalogItems)
        {
            <partial name="_catalogItem" for="@item"/>
        }
    </div>
}
else
{
    <p>
        No Catalog Items Available.
    </p>
}
